baseURL = "/"
languageCode = "en-us"
title = "Welcome"
# HSW:  I will swith to theme ananke to see if anything shows up:
#theme = "bootstrap-bp-hugo-theme"
theme = "ananke"


[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 2

  [[menu.main]]
    name = "Articles"
    url = "/articles/"
    weight = 3
